:root {
    --hover-link-button:#2196F3;
    --primary-text:#757575;
    --background-secondary:#2F303A;
    --third-title:#FFFFFF;
    --text-button:#FFFFFF;
    --primary-title:#212121;
    --secondary-text:#FFFFFF;
    --secondary-title:#2196F3;
    --primary-button-background:#EEEEEE;
    
 }